<div class="wrapper">
    <!-- Header -->
    <div class="row" style="margin-top: 24px;">
      <div class="col-sm-8">
        <p class="text-justify">
         A programming infrastructure created by Microsoft for building, deploying, and running applications and services that use .NET technologies, such as desktop applications and Web services.
        </p>
        <p class="text-justify">
          The .NET Framework contains three major parts:</p>
        <ul>
          <li>- the Common Language Runtime (CLR)</li>
          <li>- the Framework Class Library (FCL)</li>
          <li>- ASP.NET.</li>
        </ul>
        <p class="text-justify">
          The FCL is a collection of reusable classes, interfaces and value types. FCL provides user interface, data access, database connectivity, cryptography, web application development, numeric algorithms, and network communications.
        </p>
        <p class="text-justify">
          Programmers produce software by combining their own source code with .NET Framework and other libraries. Visual Studio is the IDE (Integrated Development Environment) for .NET
        </p>
        <p class="text-justify">
          Programs written in .NET is executed in a Virtual Machine known as Common Language Runtime (CLR). It provides services such as security, memory management, and exception handling.
        </p>
      </div>
      <div class="col-sm-4">
        <center><img src="{{site.baseurl}}/images/dotnet/dotnet.png" class="img-responsive" alt="Microsoft .NET" style="width: 200px" /></center>
      </div>
    </div>

  </div>
