<div class="wrapper">
    <!-- Header -->
    <div class="row" style="margin-top: 24px;">
      <div class="col-sm-6">
        <h1>Q-Apps</h1>
        <p class="text-justify">
         Q-Apps is a platform which has a bunch of applications which we use in Qwinix which helps in day-to-day operations.
        </p>
        <p class="text-justify">
          It is a bunch of web services and applications which uses them. For e.g: Q-Auth, Q-Careers, Q-Meeting, Q-Library, Q-Leaves etc.
        </p>
      </div>
      <div class="col-sm-6">
        <center><img src="/images/q-apps.png" class="img-responsive" alt="" /></center>
      </div>
    </div>

  </div>
