<div class="wrapper">
    <!-- Header -->
    <div class="row" style="margin-top: 24px;">
      <div class="col-sm-8">
        <p class="text-justify">
         Docker is an open platform for building, shipping and running distributed applications. It gives programmers, development teams and operations engineers the common toolbox they need to take advantage of the distributed and networked nature of modern applications.
        </p>
        <p class="text-justify">
          Docker containers wrap up a piece of software in a complete filesystem that contains everything it needs to run: code, runtime, system tools, system libraries – anything you can install on a server. This guarantees that it will always run the same, regardless of the environment it is running in.
        </p>
      </div>
      <div class="col-sm-4">
        <center><img src="/images/docker-logo.png" class="img-responsive" alt="Docker" style="width: 200px" /></center>
      </div>
    </div>

  </div>
