<header class="site-header">

  <div class="wrapper">
   <div class="row" style="background-color: transparent;">
        <div class="col-md-10">
        <a href="/"><img src="{{site.baseurl}}/images/qlabslogo-color-new.png"></a>
        </div>
        <div class="col-md-2" >
        <a href="/docker"><img src="{{site.baseurl}}/images/docker-header-logo.png" style=" width: 80px"></a>
        </div>
     <nav class="site-nav">

<!--       <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div> -->
    </nav>
    </div>
  </div>

</header>
